name: CI for build and push image on DockerHub

on:
  push:
    branches: ["main"]

jobs:
  test-and-analyze:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.8'
    - run: |
        pip install --user --no-cache-dir -r requirements.txt
        python -m unittest test.test

  build-and-push-image:
    runs-on: ubuntu-latest
    needs: test-and-analyze
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build and push Docker image to DockerHub with latest
        uses: mr-smithers-excellent/docker-build-push@v6
        with:
          image: raphdup/oxygencs-grp2-eq5
          tags: latest
          registry: docker.io
          dockerfile: Dockerfile
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image to DockerHub with dockerId
        uses: mr-smithers-excellent/docker-build-push@v6
        with:
          image: raphdup/oxygencs-grp2-eq5
          registry: docker.io
          dockerfile: Dockerfile
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}