name: CI for static code analysing and formatting

on:
  pull_request:
    branches: ["main"]

jobs:
  test-and-analyze:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.8'
    - run: |
        pip install --user --no-cache-dir -r requirements.txt
        python -m unittest test.test
